<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block content %}

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <br>
        <div id="map-container-google-1" class="row z-depth-1-half map-container h-100" style="height: 500px">
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRoCbpFZKRplfeakJsvRLWnKDfI9uvwy1xVcdNleXT_BufA38HIhqwPIrVlhQl6wNAE2mYiXJXeEICk/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>
    </div>
</section>

{% endblock %}